<p id="notice"><%= notice %></p>

<h1>Somethings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <td><%= link_to 'Notify', something_notify_path(something_id: 1) %></td>
  </tbody>
</table>

<br>

<%= link_to 'New Something', new_something_path %>
